on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn run lint-css
      - run: yarn run css
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ci-build
          path: dist/



  publish:
    needs: ['build']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'yarn'

      - run: yarn install --frozen-lockfile

      - name: Download build artifact
        uses: actions/download-artifact@v7
        with:
          name: ci-build
          path: dist/

      - uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.NPM_TOKEN }}